:root {
  box-sizing: border-box;
  --filter-color: #4d5ae5;
  --sample-items-color: #2e2f42;
  --background-color: #f4f4fd;
  --sample-text: #434455;
  --activelinkcolor: #404bbf;
  --activebglink: #ffffff;
  --cornflower: #e7e9fc;
  --bg-color-grey: rgba(46, 47, 66, 0.7);
  --social-link-fill: #f4f4fd;
  --customers-icon: #8e8f99;
  --white: #fff;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: var(--sample-text);
  background-color: var(--activebglink);
}

/* reset */
ul {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

textarea {
  resize: none;
}

.button {
  cursor: pointer;
}

/* basic styles */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding-inline-start: 0;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding: 120px 0;
}

/*------------- header styles -------------*/

/* logo */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--filter-color);
  padding: 1.5px 0;
}

.header-logo-accent {
  color: var(--sample-items-color);
}

.header-logo {
  margin-right: 76px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo-accent {
  color: var(--background-color);
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-list-item {
  display: flex;
  flex-direction: column;
}

.header-nav {
  font-weight: 500;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--sample-items-color);
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav:hover,
.header-nav:focus {
  color: var(--activelinkcolor);
}

.address {
  font-style: normal;
}

.address-list {
  display: flex;
  gap: 40px;
  padding: 24px 0;
  margin: 0;
}

.address-link {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--sample-text);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: var(--activelinkcolor);
}

.studio-link {
  color: #404bbf;
  position: relative;
}

.studio-link::after {
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: -1px;
  left: 0;
  border-radius: 2px;
  background-color: var(--activelinkcolor);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  content: '';
}

.portfolio-link {
  position: relative;
  color: #404bbf;
}

.portfolio-link::after {
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: -1px;
  left: 0;
  border-radius: 2px;
  padding-bottom: 4px;
  background-color: var(--activelinkcolor);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  content: '';
}

/*------------- Footer -------------*/

.footer {
  background-color: var(--sample-items-color);
  padding: 100px 0;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--background-color);
  max-width: 264px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-content {
  margin-right: 120px;
}

.footer-social {
  display: flex;
  flex-direction: column;
  margin-right: 80px;
}

.footer-social-text {
  font-weight: 500;
  margin-bottom: 16px;
  color: var(--activebglink);
}

.footer-icon {
  fill: var(--social-link-fill);
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.footer-social-list .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(77, 90, 229, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list .link:hover,
.footer-social-list .link:focus {
  background-color: rgba(49, 208, 170, 1);
}

/* subscribe */

.subscribe-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.subscribe-form-input {
  width: 264px;
  height: 40px;

  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;

  outline: transparent;

  color: var(--white);
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  background-color: transparent;
  border-radius: 4px;
  border: 1px solid var(--white);

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.subscribe-form-input::placeholder {
  color: inherit;
  width: 36px;
  height: 24px;
}

.subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 165px;
  height: 40px;
  outline: transparent;

  background-color: var(--filter-color);
  border: transparent;
  border-radius: 4px;

  padding: 8px 24px;

  color: var(--white);
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: var(--activelinkcolor);
}
.subscribe-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
}
/*------------ Web studio -------------*/

/* Hero styles */

.hero {
  background-color: var(--sample-items-color);
  background-image: linear-gradient(to bottom, var(--bg-color-grey), var(--bg-color-grey)),
    url(../images/hero-bg/hero-bg.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;

  color: var(--activebglink);
  padding: 188px 0;
  margin: 0 auto;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.hero-name {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
}

.hero-button {
  background-color: var(--filter-color);
  color: inherit;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: 4px;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--activelinkcolor);
}

/* Busines Actions Styles */
.actions-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.actions-list-item {
  display: flex;
  width: calc((100% - 3 * 24px) / 4);
  flex-direction: column;
}

.actions-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  width: 264px;
  border-radius: 4px;
  background-color: var(--background-color);
  position: relative;
  margin-bottom: 8px;
}

.icon-actions {
  position: absolute;
  top: 24px;
  left: 100px;
  display: block;
  background: var(--background-color);
}

.actions-title {
  margin-bottom: 8px;
}

.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--sample-items-color);
}

.paragraph-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--sample-text);
}

/* Doing samples styles */
.saction-doing-samples {
  padding-top: 0;
}

.doing-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: var(--sample-items-color);
  margin-bottom: 72px;
}

.doing-image {
  max-width: 100%;
}

.doing-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.doing-list-item {
  width: calc((100% - 2 * 24px) / 3);
}

/* Team Cards Styles */

.team-section {
  background-color: var(--background-color);
}

.card-image {
  display: block;
  max-width: 100%;
}

.card-content {
  max-width: 232px;
  height: auto;
  margin: 0 auto;
  padding: 32px 0;
}

.team-card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.team-card-item {
  width: calc((100% - 3 * 24px) / 4);
  background-color: var(--activebglink);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.card-text {
  text-align: center;
  margin-bottom: 8px;
}

.card-title {
  text-align: center;
  margin-bottom: 8px;
}

.team-social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-social-item {
  width: 40px;
  height: 40px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--filter-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--activelinkcolor);
}

.icon-team-link {
  fill: var(--social-link-fill);
}

/* Customers section */

.customers-list {
  display: flex;
  gap: 24px;
}

.customers-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  color: var(--customers-icon);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
  border-color: rgba(64, 75, 191, 1);
  color: var(--activelinkcolor);
}

.customers-icon {
  fill: var(--customers-icon);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon {
  fill: rgba(64, 75, 191, 1);
}

/*------------- Portfolio --------------*/

/* Filter buttons */
.portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.filter-button-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.filter-button {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: var(--filter-color);
  background-color: var(--background-color);
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid var(--cornflower);
  padding: 12px 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
  color: var(--activebglink);
  background-color: var(--activelinkcolor);
  border: 1px solid transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08),
    0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  border-color: var(--activelinkcolor);
}

/* Sample of products */

.sample-title {
  color: var(--sample-items-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.sample-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.sample-list-item {
  position: relative;
  overflow: hidden;
  background-color: var(--activebglink);
  width: calc((100% - 24px * 2) / 3);
}

.sample-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sample-link:hover,
.sample-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.sample-list-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.sample-card-text {
  padding: 32px 16px;
  border: 1px solid var(--cornflower, #e7e9fc);
  border-top: none;
  min-width: 360px;
}

.sample-card-box {
  position: relative;
  overflow: hidden;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--background-color);
  padding: 40px 32px;
  background-color: var(--filter-color);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sample-link:hover .card-overlay,
.sample-link:focus .card-overlay {
  transform: translateY(0%);
}

/* -----------Modal------------- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) scale(1);

  padding: 72px 24px 24px 24px;

  width: 408px;
  min-height: 584px;
  background-color: rgba(252, 252, 252, 1);
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translateX(-50%) translateY(-70%);
}

.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(231, 233, 252, 1);
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: var(--activelinkcolor);
  border: none;
}

.modal-icon {
  fill: rgba(46, 47, 66, 1);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover .modal-icon,
.modal-button:focus .modal-icon {
  fill: var(--activebglink);
}

.modal-caption {
  display: block;
  width: 360px;
  height: 24px;
  color: var(--sample-items-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;

  margin-bottom: 16px;
}

.form-item-container {
  margin-bottom: 8px;
}

.modal-form-field {
  display: block;
  position: relative;
}

.modal-form-label {
  display: block;
  margin-bottom: 4px;
  color: var(--customers-icon);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;

  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 38px;

  background-color: transparent;
  outline: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  border-color: var(--filter-color);
}

.form-input-icon {
  position: absolute;

  top: 50%;
  left: 16px;

  transform: translateY(-50%);

  fill: var(--sample-items-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .form-input-icon {
  fill: var(--filter-color);
}

.form-comment-container {
  margin-bottom: 16px;
}

.form-comment {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;

  resize: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment::placeholder {
  color: inherit;
}

.form-comment:focus {
  border-color: var(--filter-color);
}

/* check-box agreement */

.agreement-container {
  margin-bottom: 24px;
}

.modal-form-agreement {
  color: var(--customers-icon);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-form-custom-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 16px;
  height: 16px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;

  fill: transparent;
  background-color: transparent;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-checkbox:checked + .modal-form-agreement > .modal-form-custom-checkbox {
  fill: var(--background-color);
  background-color: var(--activelinkcolor);
  border: none;
}

.form-agree-link {
  color: var(--filter-color);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

/* button send */

.form-send-button {
  display: block;
  color: var(--white);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  min-width: 169px;

  padding: 16px 32px;
  margin: 0 auto;

  border: transparent;
  border-radius: 4px;
  background-color: var(--filter-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-send-button:hover,
.form-send-button:focus {
  background: var(--activelinkcolor);
}
